<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Projet Final Sans Fil</title>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/Card-Table-Snippet-N1.css">
<link rel="stylesheet"
	href="assets/css/Header-With-Image-on-left-and-login-form-on-right.css">
<link rel="stylesheet" href="assets/css/Navbar-With-Button.css">
<link rel="stylesheet" href="assets/css/styles.css">
<style type="text/css">
.button2 {
	display: flex;
	height: 50px;
	padding: 0;
	background: #033c73;
	border: none;
	outline: none;
	border-radius: 5px;
	overflow: hidden;
	font-family: "Quicksand", sans-serif;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.button3 {
	background: #73a839;
}

.button2:hover {
	background: #033c73;
}

.button3:hover {
	background: #73a839;
}

.button2:active {
	background: #495057;
}

.button__text, .button__icon {
	display: inline-flex;
	align-items: center;
	padding: 0 24px;
	color: #fff;
	height: 100%;
}

.button__icon {
	font-size: 1.5em;
	background: rgba(0, 0, 0, 0.08);
}
</style>
</head>

<body class="d-flex flex-column min-vh-100" style="background: #f2f2f6;">

	<navbar th:replace="inc/navbar :: navbar"></navbar>

	<header class="mt-5">
		<div class="container d-flex justify-content-between align-items-end">
			<div>
				<h1 class="fw-bold" style="color: #1f5793;">List des salles</h1>
				<span>List des salles avec leurs etages, vous pouvez
					chercher...</span>
			</div>
			<form method="POST" action="salles">
				<div class="d-flex">

					<button type="button" class="button2 mx-1" data-toggle="modal"
						data-target="#exampleModal">
						<span class="button__text">Ajouter</span> <span
							class="button__icon"> <ion-icon name="add-circle-outline"></ion-icon>
						</span>
					</button>
					<button type="button" class="button2 mx-1 button3"
						id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						<span class="button__text">Filtrer</span> <span
							class="button__icon"> <ion-icon name="search-outline"></ion-icon>
						</span>
					</button>
					<div class="dropdown-menu dropdown-menu-end animate slideIn"
						aria-labelledby="navbarDropdown">
						<input type="text" class="form-control m-1" name="nom"
							style="width: auto;" placeholder="Nom de la salle"> <select
							class="form-control m-1" name="etage"
							style="width: -webkit-fill-available;">
							<option value="all">Tous les etages</option>
							<optgroup label="Etages">
								<option value="Etage 1">Etage 1</option>
								<option value="Etage 2">Etage 2</option>
								<option value="Etage 3">Etage 3</option>
							</optgroup>
						</select>
						<div class="dropdown-divider"></div>
						<button class="btn btn-success mx-2"
							style="width: -webkit-fill-available;" name="chercher"
							type="submit">Chercher!</button>
					</div>

				</div>
			</form>
			<!--
			<div class="d-flex align-items-center">
				<input type="text" class="form-control mx-2" name="nom"
					placeholder="Mot"><select class="form-control"
					style="min-width: 10rem;">
					<optgroup label="Etages">
						<option value="1">Etage 1</option>
						<option value="2">Etage 2</option>
						<option value="3">Etage 3</option>
					</optgroup>
				</select>
				<button class="btn btn-info mx-2" type="button">Chercher!</button>
			</div>
			-->
		</div>
	</header>
	<!-- Page Content -->
	<div class="container my-3">
		<div class="row">
			
			<div class="alert alert-success" th:if="${statusAjoutSalleSuccess != null}" role="alert" th:text="${statusAjoutSalleSuccess}"></div>
			
			<div class="alert alert-danger" th:if="${statusAjoutSalleErreur != null}" role="alert" th:text="${statusAjoutSalleErreur}"></div>
				
			<!-- Start Salle Card -->
			<div class="col-xl-3 col-md-6 mb-4" th:each="salle : ${listSalles}">
				<div class="card border-0 shadow" th:onclick="|location.href='visite/salle/${salle.id}'|" style="cursor: pointer;">
					<img src="https://source.unsplash.com/TMgQMXoglsM/500x350"
						class="card-img-top" alt="...">
					<div class="card-body text-center">
						<h5 class="card-title mb-0" th:utext="${salle.nom}"></h5>
						<div class="card-text text-black-50" th:utext="${salle.location}"></div>
					</div>
				</div>
			</div>
			<!-- End Salle Card -->
		</div>
		<!-- /.row -->

	</div>





	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="POST" action="salles">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ajouter une
							salle</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row mt-2">
							<div class="col-md-6 my-2">
								<label class="labels">Nom</label><input type="text"
									class="form-control" name="nom"
									placeholder="Al-Khawarizmi">
							</div>
							<div class="col-md-6 my-2">
								<label class="labels">Location</label><select
									class="form-control" name="etage"
									style="min-width: 10rem;">
									<optgroup label="Etages">
										<option value="Etage 1">Etage 1</option>
										<option value="Etage 2">Etage 2</option>
										<option value="Etage 3">Etage 3</option>
									</optgroup>
								</select>
							</div>
							<div class="col-md-12 my-2">
								<label class="labels">Image</label><input type="file"
									class="form-control">
							</div>
							<div class="mt-5 text-center">
								<button class="btn btn-primary profile-button" name="ajouter"
							type="submit">Ajouter</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footerbar th:replace="inc/footer :: footerbar"></footerbar>

	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</body>

</html>